{% extends 'base.html' %}

{% block content %}
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <span class="navbar-brand">Bienvenido, {{ request.user.username }}</span>
            </nav>

            <!-- Main Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Gestión de Productos</h1>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <a href="{% url 'crear_producto' %}" class="btn btn-success">Crear Producto</a>
                    </div>
                </div>
                <table id="productosTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Categoría</th>
                            {% if user.is_superuser %}
                            <th>Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.precio }}</td>
                            <td>{{ producto.stock }}</td>
                            <td>{{ producto.categoria.nombre }}</td>
                            {% if user == producto.creador or user.is_superuser %}
                            <td>
                                <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#productosTable').DataTable();
    });
</script>
{% endblock %}
